body { /* Default text reset */
    font-family: monospace;
    background: url('http://www.backgroundlabs.com/wp-content/uploads/2013/06/seamless-pattern-of-circuit-board-black.png');
}
#container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    background: gray;
    padding: 1px 5px 30px 5px;
    
    border: 2px solid aqua;
    border-radius: 10px;
}
.center-content {
    text-align: center; 
}
.inline {
    margin: auto;
    display: inline-block;
}
#container h1, h4 {
    text-align: center;
}
#hint-row {
    text-align: center;
    /*position:absolute;*/
    width: auto;
    height: 180px;
    border: 2px black;
}
#hint-row > div > .inline {
    width: 140px;
    height: 100px;
    display: inline-block;
    margin: 0px 18px 0px 18px;
}
#input {
    min-height: 84px;
}
button {
    margin: 2px;
    background-color: aqua;
    min-height: 30px;
    min-width: 52px;
    font-style: 
}
input {
    width: 128px;
}
input, input.placeholder {
    text-align: center;
    font-family: monospace;
    font-size: 50px
}
#feedback {
    margin: 0px 0px 10px 0px;
}
